#message-green	
{
	margin-bottom: 5px;
}
.ContentMessage-p{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0 !important;
}
.green-left	{
	background: url(../Iconpage/message/message_green.gif) top left no-repeat;
	color: #6da827;
	font-family: Tahoma;
	font-weight: bold;
	line-height: 12px;
	padding: 0 0 0 20px;
	}
.green-left a	{
	color: #6da827;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.green-right a	{
	cursor: pointer;
	}
.green-right	{
	width: 55px;
	}	
	#message-blue	{
	margin-bottom: 5px;
	}
.blue-left	{
	background: url(../Iconpage/message/message_blue.gif) top left no-repeat;
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.blue-left a	{
	color: #2e74b2;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.blue-right a	{
	cursor: pointer;
	}
.blue-right	{
	width: 55px;
	}
	#message-red	{
	margin-bottom: 5px;
	}
.red-left	{
	background: url(../Iconpage/message/message_red.gif) top left no-repeat;
	color: #ce2700;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.red-left a	{
	color: #ce2700;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.red-right a	{
	cursor: pointer;
	}
.red-right	{
	width: 55px;
	}
	#message-yellow	{
	margin-bottom: 5px;
	}
.yellow-left	{
	background: url(../Iconpage/message/message_yellow.gif) top left no-repeat;
	color: #e79300;
	font-family: Tahoma;
	font-weight: bold;
	padding: 0 0 0 20px;
	}
.yellow-left a	{
	color: #e79300;
	font-family: Tahoma;
	font-weight: normal;
	text-decoration: underline;
	}
.yellow-right a	{
	cursor: pointer;
	}
.yellow-right	{
	width: 55px;
	}
#messageiconred
{
    background-image:url(../Iconpage/message/icon_close_red.gif);
    width:55px;
    height:35px;
}
#messageiconblue
{
    background-image:url(../Iconpage/message/icon_close_blue.gif);
    width:55px;
    height:35px;
}
#messageicongreen
{
    background-image:url(../Iconpage/message/icon_close_green.gif);
    width:55px;
    height:35px;
}
#messageiconyellow
{
    background-image:url(../Iconpage/message/icon_close_yellow.gif);
    width:55px;
    height:35px;
}