body 
{
    font-family:DroidSansRegular,"Segoe UI","Lucida Sans Unicode","Lucida Grande",sans-serif;
    font-size:12px;
    color:#666666;
    line-height:20px;
    background:url(../Iconpage/master/texturebg.png) repeat scroll 0 0 #333333;
}
.messageLogin
{
      width:600px;
      margin:5px auto;
}
.logologin
{
    background:url(../Iconpage/login/gradcircle.png) no-repeat scroll left top transparent;
    height:50px;
    margin:80px auto 20px;
    padding:75px 50px;
    width:279px;
}
.boxlogin
{
    background:url(../Iconpage/login/loginbox.png) no-repeat scroll right -62px transparent;
    height:62px;
    margin:10px auto;
    padding-right:11px;
    width:600px;
}
.loginboxinner
{
    background:url(../Iconpage/login/loginbox.png) no-repeat scroll 0 0 transparent;
    height:62px;
    padding-left:11px;
}
.loginboxconntent
{
    background:url(../Iconpage/login/loginbox.png) repeat-x scroll 0 -124px transparent;
    height:62px;
    overflow:hidden;
    padding:15px 2px;
}
.loginboxconntent .username
{
    border-radius:3px 3px 3px 3px;
    display:inline-block;
    font-size:14px;
    padding:7px 5px 6px 40px;
    background:url(../Iconpage/login/usernamefield.png) no-repeat scroll left top #EEEEEE;
    border:0 none;
    margin-right:10px;
    width:190px;
}
.loginboxconntent .passwordlo
{
    border-radius:3px 3px 3px 3px;
    display:inline-block;
    font-size:14px;
    padding:7px 5px 6px 40px;
    background:url(../Iconpage/login/passwordfield.png) no-repeat scroll left top #EEEEEE;
    border:0 none;
    margin-right:10px;
    width:190px;
}
.btnlogins
{
    background:url(../Iconpage/login/buttonbg.png) repeat-x scroll left top #4B6592;
    font-size:13px;
    font-weight:bold;
    padding:6px 14px;
    width:67px;
    border:0 none;
    border-radius:3px 3px 3px 3px;
    color:#FFFFFF;
    cursor:pointer;
    text-shadown:1px 1px #333333;
}
.option
{
    border-radius:3px 3px 3px 3px;
    background:url(../Iconpage/login/blacktrans.png) repeat scroll 0 0 transparent;
    color:#CCCCCC;
    font-size:11px;
    margin:10px auto;
    padding:7px 10px;
    width:590px;
}
.option a
{
    color:#CCCCCC;
    float:right;
    font-size:11px;
    text-decoration:none;
}
*
{
    margin:0;
    padding:0;
}
.check
{
    vertical-align:middle;
}