.DetailsAlbumAddList{
    border: 3px solid #E47911;
    position: fixed;
    z-index: 1002;
    background: white;
    display: none;
}
.DetailsAlbumAddListH4{
    background: none repeat scroll 0 0 inactivecaptiontext;
    color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}
.DetailsAlbumAddListContent{
    width: 400px;
}
.DetailsAlbumAddListContentList{
    float: left;
    padding: 5px;
    width: 290px;
}
.DetailsAlbumAddListContentList table{
    width: 290px;
}
.DetailsAlbumAddListContentList table td{
    width: 290px;
    float: left;
}
.DetailsAlbumAddListContentSave{
    background: none repeat scroll 0 0 #E47911;
    color: white;
    float: left;
    font-family: hagin;
    font-size: 15px;
    margin: 5px 0 0 111px;
    padding: 5px 10px;
    text-decoration: none;
}
.DetailsAlbumAddListContentSave:hover{
    font-size: 15px;
    background: #2e74b2;
    color: white;
}
.DetailsAlbumAddListContentAdd{
    background: none repeat scroll 0 0 #E47911;
    color: white;
    float: left;
    font-family: hagin;
    font-size: 15px;
    margin: 0 0 0 10px;
    padding: 1px 5px;
    text-decoration: none;
}
.DetailsAlbumAddListContentAdd:hover{
    font-size: 15px;
    background: #2e74b2;
    color: white;
}

/*Master page */
.MasterPageUser{
    color: #4393E9;
    font-weight: bold;
    padding-right: 10px;
    text-align: center;
}
.MasterPageUser:hover{
    color: #224E82;
    text-decoration: underline;
}
.menuUserPersonal{
    margin-left: -23px;
    overflow: hidden;
    padding-left: 2px;
    width: 750px;
}
.menuUserPersonalActive{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 white;
    border-color: #D0D0D0;;
    border-image: none;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: left;
    font-family: hagin;
    font-size: 18px;
    margin-right: 4px;
    padding: 5px 31px 6px;
}
.menuUserPersonal a{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #E7E7E7;
    border-color: #D0D0D0;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    float: left;
    font-family: hagin;
    font-size: 18px;
    margin-right: 4px;
    padding: 5px 31px;
    text-transform: uppercase;
}
.menuUserPersonal a:hover{
    background: #FF6766;
    color: white;
}
.UserPersonalPageContent{
    background: none repeat scroll 0 0 white;
    border: 1px solid #D0D0D0;
    margin: -1px 5px 0 -30px;
    min-height: 50px;
    padding: 5px 10px;
    overflow: hidden;
}
.UserPersonalPageContentH4{
    background: none repeat scroll 0 0 #CDE5F0;
    border-bottom: 1px solid #D0D0D0;
    border-radius: 5px 5px 0 0;
    color: graytext;
    padding: 8px 10px;
}
.UserPersonalPageContentInforTable{
    width: 733px;
}
.UserPersonalPageContentInforTable .lable{
    color: graytext;
    font-size: 13px;
    padding: 5px 10px;
    text-align: right;
    width: 250px;
}
.UserPersonalPageContentInforTable .input{
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

/*My playlist */
.MyPlaylistPageItem{
    border: 1px solid #EFEFEF;
    float: left;
    height: 30px;
    margin-bottom: 5px;
    width: 733px;
    border-right: none;
}
.MyPlaylistPageItemSN{
    border-right: 1px solid #E7E7E7;
    float: left;
    margin: 7px;
    padding-right: 7px;
}
.MyPlaylistPageItemName{
    color: #224E82;
    float: left;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 7px;
    cursor: pointer;
}
.MyPlaylistPageItemName:hover{
    text-decoration: underline;
    
}
.MyPlaylistPageItemPlay{
    background: none repeat scroll 0 0 activecaption;
    border-radius: 3px 3px 3px 3px;
    float: right;
    font-weight: bold;
    margin: 2px 10px;
    padding: 5px 15px;
    cursor: pointer;
}
.MyPlaylistPageItemPlay:hover{
    background: #2e74b2;
    color: white;
}
.MyPlaylistPageItemDelete{
    background: none repeat scroll 0 0 #FFDEDD;
    border-radius: 3px 3px 3px 3px;
    color: red;
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin: 2px 0;
    padding: 5px 9px;
}
.MyPlaylistPageItemDelete:hover{
    background: #FF6766;
    color: black;
}
#defaultmediaplayer_wrapper{
    border: 5px solid #D0D0D0;
    margin-left: -5px;
}
.naviAlbumListens{
    padding-top: 5px;
    text-align: right;
    width: 300px;
}
.naviAlbumListens a.listen{
    background-color: #47afaf;
    color: #000;
    font-weight: 600;
    padding-left: 3px;
    padding-right: 3px;
}
.naviAlbumListens a.listen:hover{
    color: red;
}
.naviAlbumListens span.add{
    padding-left: 10px;
}